openai
gradio
pandas
numpy
vaderSentiment
textblob
PyMuPDF
transformers
sentence-transformers
faiss-cpu
nltk
spacy
git+https://github.com/krishnap25/mauve.git
torch
gtts
SpeechRecognition
pydub
flask
gunicorn
